/* Calculator */
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  width: fit-content;

  margin: auto;
  padding: 4px;

  border: 2px solid lightgray;
}

/* Output */
#output {
  grid-column: 1 / -1;
}